<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .data{
            display:flex;
            justify-content: center;
            align-items: center;
        }
        .title{
            display:flex;
            justify-content: center;
            align-items: center;
        }
        button{
            background-color:green;
            color: white;
        }
    </style>
</head>
<body>
    <h2 class="title">Add Employee</h2>
    <div class="container">
        <div class="data">
            <form method="post">
                {% csrf_token %}
                {{form}}
                <button class="submit">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>